#nav {
  color: black;
  justify-content: center;
}
body {
  background-color: rgba(0, 161, 253, 0.1);
  fill: rgba(255, 255, 255, 0.39);
  background-size: 324px 324px;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Layer_1' fill-opacity='1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500' style='enable-background:new 0 0 500 500'%3E%3Cstyle%3E .st0{fill:rgba(255, 255, 255, 0.63)} %3C/style%3E%3Ccircle class='st0' cx='87.5' cy='46.5' r='8.5'/%3E%3Ccircle class='st0' cx='94.5' cy='124.5' r='15.5'/%3E%3Ccircle class='st0' cx='244.5' cy='91.5' r='21.5'/%3E%3Ccircle class='st0' cx='348.5' cy='80.5' r='7.5'/%3E%3Ccircle class='st0' cx='155' cy='356' r='10'/%3E%3Ccircle class='st0' cx='422' cy='139' r='14'/%3E%3Ccircle class='st0' cx='123' cy='251' r='6'/%3E%3Ccircle class='st0' cx='280' cy='204' r='11'/%3E%3Ccircle class='st0' cx='315' cy='311' r='11'/%3E%3Ccircle class='st0' cx='262' cy='411' r='6'/%3E%3Ccircle class='st0' cx='455.5' cy='395.5' r='12.5'/%3E%3Ccircle class='st0' cx='432' cy='500' r='25'/%3E%3Ccircle class='st0' cx='432' r='25'/%3E%3Ccircle class='st0' cx='-3.5' cy='240.5' r='10.5'/%3E%3Ccircle class='st0' cx='496.5' cy='240.5' r='10.5'/%3E%3Ccircle class='st0' cx='96' cy='437' r='3'/%3E%3C/svg%3E");
}
.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: rgb(99, 60, 255);
}
.title:hover {
  color: rgb(99, 60, 255) !important;
}
.subtitle:hover {
  color: rgb(255, 163, 101) !important;
}
.subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: rgb(255, 163, 101);
}
.navbar {
  margin-left: 0rem;
}

.footer__content__copyright {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  padding-bottom: 5px;
  background-color: rgb(18, 16, 16);
  padding-top: 5px;
  text-align: center;
  color: #ffffff;
}
.parent {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.child1 {
  width: 60%;
  border: 1px solid black;
}
.child2 {
  width: 40%;
  padding: 0 10%;
  border: 1px solid black;
  height: auto;
}
#footer {
  position: fixed;
  /* padding: 10px 10px 0px 10px; */
  top: 96vh;
  width: 100%;
  /* Height of the footer*/
  /* height: 40px; */
  /* background: grey; */
}

#save1{
  color: green;
  text-align: left;
  padding-left: 30px;
  line-height: ;
}